# ------------------------------------------------------------------
# Recursive-IR configuration file
# Copyright (c) 2026 Mark Jayson Alvarez
# Licensed under the Recursive-IR License
# ------------------------------------------------------------------
[Unit]
Description=Recursive-IR ingest parser batch
After=network-online.target dfir-watcher.service
Wants=dfir-watcher.service

# Do not run until the runtime env exists
ConditionPathExists=/etc/recursive-ir/env/recursive.env

[Service]
Type=oneshot
User=dfir
Group=recursive

# Repo location (written by: dfir init)
EnvironmentFile=/etc/recursive-ir/env/paths.env

# Runtime configuration
EnvironmentFile=/etc/recursive-ir/env/recursive.env

# Working directory
WorkingDirectory=/var/run/recursive-ir

# Run dfir explicitly from repo (absolute path substituted by dfir init)
#ExecStartPre=/bin/sleep 10

ExecStart=/usr/local/bin/dfir ingest parse --execute --jobs-auto

ExecStartPost=-/usr/local/bin/dfir osd fields-refresh all

