# ------------------------------------------------------------------
# Recursive-IR configuration file
# Copyright (c) 2026 Mark Jayson Alvarez
# Licensed under the Recursive-IR License
# ------------------------------------------------------------------
[Unit]
Description=Run dfir ingest parse every minute

[Timer]
# first run 1 minute after boot
OnBootSec=1min

# then every minute after the last successful run
OnUnitActiveSec=1min

# ensure missed runs are not replayed after long downtime
Persistent=false

Unit=dfir-ingest-parse.service

[Install]
WantedBy=timers.target

